@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.navbar{
    height: auto;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}
.upper-nav{
    display: flex;
    background-color: #29292B;
}
.upper-nav-links{
    background-color: #29292B;
    font-family: kanit;
    color: rgb(215, 215, 215);
    padding: 10px;
    margin-left: 20px;
}
.upper-nav-login{
    height: auto;
    width: 70px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 20px;
    border: none;
    background-color: #3D5BF0;
    padding: 6px;
    border-radius: 6px;
    color: white;
}
.lower-navbar{
    height: 70px;
    background-color: #1D1D1F;
}
.left-side, .right-side{
    display: inline-flex;
    background-color: transparent;
    padding:  15px 100px 15px 100px;
}
.right-side{
    float: right;
}
#nav-icons{
   color: #667ffd; 
   padding: 20px;
   background-color: transparent;
}
.company-name{
    font-size: 32px;
    font-weight: 500;
    font-family: kanit;
    color: white;  
    background:transparent;
}
span{
    color: #667ffd;
    background:transparent;
}
.nav-links{
    font-size: 24px;
    font-family: kanit;
    font-weight: 400;
    background:transparent;
    color: rgb(193, 193, 193);
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    background-color: transparent;
}
.students{
    position: absolute;
    z-index: 0;
}
.container{
    position: relative;
    max-width: 1300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    padding: 40px;
    margin-top: 50px;
    background: transparent;
}
.students{
    width: 100%;
    filter: brightness(30%);
}
.contact-us-elements{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: transparent;
    
}
.contact-heading{
    text-align: center;
    font-size: 70px;
    font-family: kanit;
    color: white;
    background: transparent;

}
.col-1{
    padding: 40px;
    background: transparent;

}
.col-1-heading{
    font-size: 60px;
    background: transparent;
    font-family: kanit;
    color: white;
}
.col-1-desc{
    font-size: 30px;
    font-family: kanit;
    color: white;
    font-weight: 300; 
    background: transparent;  
}
.col-1-title{
    font-size: 25px;
    text-align: justify;
    font-family: kanit;
    color: #48484c;
    font-weight: 600;
    margin-top: 10px;
}
.col-2{
    padding: 40px;
    margin-top: 40px;
    background: transparent;
}
.col-2-heading{
    font-size: 60px;
    background: transparent;
    font-family: kanit;
    color: #2D2D30;
}
.col-2-desc{
    font-size: 30px;
    font-family: kanit;
    color: #48484c;
    font-weight: 300; 
    background: transparent;  
}
.col-2-title{
    font-size: 25px;
    text-align: justify;
    font-family: kanit;
    color: #48484c;
    font-weight: 600;
    margin-top: 10px;
}
/*Footer-section*/
.footer{
    padding-top: 20px;
    background-color: #262629;
}
.footer-top{
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    height: 80%;
    background: transparent;
}
.footer-company-name{
    display: inline;
    font-size: 30px;
    font-weight: 600;
    color: white;
    font-family: kanit;  
    background: transparent;
}
.col-a{
    background: transparent;
    width: 25%;
}
.col-b{
    width: 25%;
    background-color: #262629;
}
.connect{
    font-size: 20px;
    font-weight: 300;
    padding: 15px;
    font-family: kanit;
    color: rgb(193, 193, 193);
    margin-top: 20px;
    background-color: transparent;
}
.footer-icons{
    padding: 10px;
    margin-left: 15px;
    box-sizing: border-box;
    border: 3px solid rgb(193, 193, 193);
    border-radius: 20%;
    background-color: transparent;
    cursor: pointer;
}
.col-b-heading{
    font-size: 25px;
    text-align: center;
    font-family: kanit;
    color: rgb(220, 220, 220);
    background: transparent;
}
ul{
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    font-family: kanit;
    text-align: center;
    background-color: #262629;
}
ul li{ 
    background: transparent;
    list-style-type: none ;
}
ul li a{
    text-decoration: none;
    color: rgb(193, 193, 193);
}
hr{
    color:rgb(27, 27, 27);
    margin-right: 25px;
    width: 1px;
}
.number{
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    padding: 15px;
    font-family: kanit;
    color: rgb(193, 193, 193);   
}
.col-c{
    background: transparent;
}
.copyright{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: kanit;
    color: rgb(220, 220, 220);
    text-align: center;
    background-color: #1D1D1F;
}
